openapi: 3.0.0
info:
  title: zKillboard API
  description: "The zKillboard API provides access to killmails, statistics, and historical\
    \ data. \nIt supports multiple endpoints, including real-time WebSocket/RedisQ\
    \ services, \nkillmail history, and entity-specific statistics.\n"
  contact:
    name: Squizz Caphinator
    url: https://zkillboard.com/
  version: 1.2.0
servers:
- url: https://zkillboard.com/api
  description: zKillboard API Server
paths:
  /stats/{entityType}/{entityID}/:
    get:
      summary: Fetch statistics for an entity
      description: "Retrieve statistics for a specific entity, including kills, ranks,\
        \ ship classes, \nmonthly counts, and more.\n"
      operationId: statsEntityTypeEntityIDGET
      parameters:
      - name: entityType
        in: path
        description: "The type of entity (e.g., characterID, corporationID, allianceID,\
          \ etc.)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: corporationID
          enum:
          - characterID
          - corporationID
          - allianceID
          - factionID
          - shipTypeID
          - groupID
          - solarSystemID
          - regionID
      - name: entityID
        in: path
        description: The unique ID of the entity (valid CCP ID).
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          example: 98330748
      responses:
        "200":
          description: Entity statistics retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200"
        "400":
          description: Invalid entityType or entityID format.
        "404":
          description: No data found for the specified entity.
      x-swagger-router-controller: Default
  /history/{date}.json:
    get:
      summary: Fetch historical killmails
      description: |
        Retrieve the killID and hash for all killmails on a specific date.
        The date must be in the format YYYYMMDD.
      operationId: historyDate_jsonGET
      parameters:
      - name: date
        in: path
        description: The date for which to retrieve killmail history.
        required: true
        style: simple
        explode: false
        schema:
          pattern: "^\\d{8}$"
          type: string
          example: "20240128"
      responses:
        "200":
          description: A list of killmails for the specified date.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/inline_response_200_1"
                x-content-type: application/json
        "400":
          description: Invalid date format.
        "404":
          description: No data available for the specified date.
      x-swagger-router-controller: Default
  /kills/:
    get:
      summary: Fetch killmails
      description: Retrieve killmails from the database with optional filters.
      operationId: killsGET
      parameters:
      - name: w-space
        in: query
        description: Filter for wormhole space kills.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: solo
        in: query
        description: Filter for solo kills.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: pastSeconds
        in: query
        description: "Fetch kills from the past x seconds (max 604800, multiples of\
          \ 3600)."
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: iskValue
        in: query
        description: Minimum ISK value for kills.
        required: false
        style: form
        explode: true
        schema:
          type: number
      responses:
        "200":
          description: A list of killmails.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/inline_response_200_2"
                x-content-type: application/json
      x-swagger-router-controller: Default
components:
  schemas:
    EntityStats:
      type: object
      properties:
        kills:
          type: integer
          description: Total number of kills.
        ranks:
          type: object
          additionalProperties:
            type: integer
          description: Ranking information.
        shipClasses:
          type: array
          description: List of ship classes used.
          items:
            type: string
        monthlyCounts:
          type: object
          additionalProperties:
            type: integer
          description: Monthly statistics for kills.
    Killmail:
      type: object
      properties:
        killID:
          type: integer
        hash:
          type: string
        value:
          type: number
    inline_response_200:
      type: object
      properties:
        kills:
          type: integer
          description: Total number of kills.
        ranks:
          type: object
          additionalProperties:
            type: integer
          description: Ranking information.
        shipClasses:
          type: array
          description: List of ship classes used.
          items:
            type: string
        monthlyCounts:
          type: object
          additionalProperties:
            type: integer
          description: Monthly statistics for kills.
      example:
        kills: 0
        ranks:
          key: 6
        monthlyCounts:
          key: 1
        shipClasses:
        - shipClasses
        - shipClasses
    inline_response_200_1:
      type: object
      properties:
        killID:
          type: integer
          description: The unique ID of the killmail.
        hash:
          type: string
          description: The hash of the killmail.
      example:
        killID: 0
        hash: hash
    inline_response_200_2:
      type: object
      properties:
        killID:
          type: integer
        hash:
          type: string
        value:
          type: number
      example:
        killID: 0
        value: 6.02745618307040320615897144307382404804229736328125
        hash: hash
